# --- Core & Data Handling ---
pandas
numpy
xarray
netCDF4

# --- Frontend & Visualization ---
streamlit
plotly

# --- Database (SQL & Geospatial) ---
sqlalchemy
psycopg2-binary
GeoAlchemy2
sqlalchemy-utils

# --- AI, LLM & Vector Store ---
langchain
langchain-ollama
sentence-transformers
chromadb
langchain_community
# --- Utilities ---
requests
python-dotenv